/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.reply a {
	border-bottom: 1px dashed #0088cc;
}
.reply a:hover {
	text-decoration: none;
	border-bottom: 1px solid #005580;
}
.comment_box #new_comment {
	margin-left: 20px;
}
.root_comment a {
	color: #000;
	border-bottom: 1px dashed #000;
}
.root_comment a:hover {
	color: #000;
	border-bottom: 1px solid #000;
	text-decoration: none;
}
.next_level {
	margin-left: 20px;
}
